.testingcss {
    position: relative;
    text-align: center;
}

.toggle-base {
    height: 110px;
  }
  
  .toggle-enter {
    animation-name: fade-in;
    animation-duration: 600ms;
  }
  .toggle-leave {
    animation-name: fade-out;
    animation-duration:600ms;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0.0;
      height: 0px;
    }
    to {
      opacity: 1.0;
      height: 110px;
    }
  }
  
  
  @keyframes fade-out {
    from {
      opacity: 1.0;
      height: 20px;
    }
    to {
      opacity: 0.0;
      height: 0px;
    }
  }

		  